<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics of HTML</title>
</head>

<body>
    <h1 style="background-color: brown;">Basics of html and CSS</h1>
    <hr>
    <button>Hello</button>
    <hr>
    <p style="color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio 
        explicabo iusto iure impedit et cumque, officiis 
        itaque, beatae deleniti natus nemo dignissimos vero iste facere nobis 
        culpa aliquam modi!</p>
    <hr>

    <a href="https://karunadutechnologies.com/" target="_blank">Link to karunadu Tech</a>
</body>
</html>