<html>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  
  <ul class="nav nav-pills">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'aboutus' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'calci' %}">calculator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'counter' %}">Counter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'department' %}">Department</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'departmentview' %}">DepartmentView</a>
    </li>
</ul>
  {% block content %}

  {% endblock %}



<footer class="bg-body-tertiary text-center text-lg-start"></footer>
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Domains</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-body">Machine Learning</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Domains</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-body">Karunadu Tech</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Domains</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-body">IoT And Its Application</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Domains</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-body">AI</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-body">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="https://www.karunadutechnologies.com//">KarunaduTechnologies.com</a>
  </div>
  <!-- Copyright -->
</footer>

</html>